<nav x-data="{ open: false }" class="absolute top-0 left-0 w-full z-50 py-6 px-4 md:px-10 flex justify-between items-center bg-transparent">
   <img src="img/logo_canto.png" alt="Supremo Mel Logo" 
     class="h-24 md:h-20 object-contain relative z-[60]" />
    
    
    <button @click="open = !open" class="md:hidden relative z-[60] p-2 text-white bg-yellow-500/90 rounded-xl border border-[#b88f14] shadow-lg">
        <span class="material-icons text-3xl" x-text="open ? 'close' : 'menu'">menu</span>
    </button>

</nav>